​

<div class='lightbox js-lightbox team__window'>
  ​
  <div class='lightbox__overlay'>
    ​
    <div class='team__box'>
      <button type='button' class='lightbox__button' data-action='close-lightbox'></button>

      <h2 class='team__h'>Developers TEAM</h2>
      <div class='team__contaier'>
        <ul class='team__list'>
          <li class='team__card'>
            <div>
              <img class='team__photo' src='/images/cruella.jpg' alt='' />
              <p class='team__name'>Ірина Ульяновва</p>
              <p class='team__description'>Оформлення модального вікна з командою</p>
            </div>
          </li>
          <li class='team__card'>
            <img class='team__photo' src='./images/cruella.jpg' alt='' />
            <p class='team__name'>Ірина Ульяновва</p>
            <p class='team__description'>Оформлення модального вікна з командою</p>
          </li>
          <li class='team__card'>
            <img class='team__photo' src='./images/cruella.jpg' alt='' />
            <p class='team__name'>Ірина Ульяновва</p>
            <p class='team__description'>Оформлення модального вікна з командою</p>
          </li>
          <li class='team__card'>
            <img class='team__photo' src='./images/cruella.jpg' alt='' />
            <p class='team__name'>Ірина Ульяновва</p>
            <p class='team__description'>Оформлення модального вікна з командою</p>
          </li>
          <li class='team__card'>
            <img class='team__photo' src='../images/cruella.jpg' alt='' />
            <p class='team__name'>Ірина Ульяновва</p>
            <p class='team__description'>Оформлення модального вікна з командою</p>
          </li>
          <li class='team__card'>
            <img class='team__photo' src='./images/cruella.jpg' alt='' />
            <p class='team__name'>Ірина Ульяновва</p>
            <p class='team__description'>Оформлення модального вікна з командою</p>
          </li>
        </ul>
      </div>

      ​ ​
    </div>
    ​
  </div>
</div>