​

<div class='lightbox js-lightbox team__window'>
  ​
  <div class='lightbox__overlay'>
    ​
    <div class='team__box'>
      <button type='button' class='lightbox__button' data-action='close-lightbox'></button>

      <h2 class='team__h'>Developers TEAM</h2>
      <div class='team__contaier'>
        <ul class='team__list'>

          <li class='team__card'>
            <div class='team__photo'>

            </div>
            <div class='team__description'>
              <p class='team__name'>Ірина Ульяновва</p>
              <p class='team__role'>Scrum Master</p>

              <p class='team__about'>Оформлення модального вікна з командою</p>
            </div>
          </li><li class='team__card'>
            <div class='team__photo'>

            </div>
            <div class='team__description'>
              <p class='team__name'>Роман Крук</p>
              <p class='team__about'>Оформлення блоку Main. Функціонал ApiService. Реалізація кнопки
                "Load more"
              </p>
            </div>
          </li><li class='team__card'>
            <div class='team__photo'>

            </div>
            <div class='team__description'>
              <p class='team__name'>Володимир !</p>
              <p class='team__about'>Функціонал ApiLocalstorage.
              </p>
            </div>
          </li><li class='team__card'>
            <div class='team__photo'>

            </div>
            <div class='team__description'>
              <p class='team__name'>Людмила Прищепа</p>
              <p class='team__about'>Оформлення блоку Footer. Реалізація кнопки OnTop.
              </p>
            </div>
          </li><li class='team__card'>
            <div class='team__photo'>

            </div>
            <div class='team__description'>
              <p class='team__name'>Марина Данильчук</p>
              <p class='team__about'>Оформлення модального вікна з детальною інформацією фільму.

              </p>
            </div>
          </li>
          <li class='team__card'>
            <div class='team__photo'>
            </div>
            <div class='team__description'>
              <p class='team__name'>Ігор Гриньов</p>
              <p class='team__role'>Team Lead</p>
              <p class='team__about'>Оформлення та функціонал розділу Header
              </p>
            </div>
          </li>
        </ul>
      </div>

      ​ ​
    </div>
    ​
  </div>
</div>