<section class="content-section">
  <div class="content-wraper">
    <div class="content__btn__list">
      <button class="content__btn" type="button" data-tag="trend">
        Тренды недели
      </button>

      <button class="content__btn" type="button" data-tag="popular">
        Популярное
      </button>
    </div>
    <div id="loader">
      <div class="loadingio-spinner-spin-wes7hd5hzqi spinner">
        <div class="ldio-yy1pvfmeeme">
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
        </div>
      </div>
      <span class="spinner__text">Loading...</span>
    </div>
    <ul id="popular" class="content__cards"></ul>
    <div class="pagination">
      <div class="pagination-container">
        <button
          class="pagination__btn pagination__btn__control"
          type="button"
          data-action="prev-btn"
        >
          <svg class="arrow">
            <use
              href="./images/content-grid/pag-icons.svg#icon-arrow-left"
            ></use>
          </svg>
        </button>

        <button class="pagination__btn" type="button" data-action="page">
          1
        </button>

        <button
          class="pagination__btn pagination__btn__control"
          type="button"
          data-action="next-btn"
        >
          <svg class="arrow">
            <use
              href="./images/content-grid/pag-icons.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
