<div class="dm-overlay" id="win1">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <a href="#close" class="close"></a>
                
                
       
        <section class="section team">
          <div class="container-thumb">
          <!-- <h2>Наша команда</h2> -->
            <ul class="team-list ">
              
              <li class="team-list__card">
             

                  <img
                    class="team-list__image"
                    src="./images/images/player-1.jpg"
                    alt=" Игорь Гринев"
                  />
             

                <div class="team-list__label">
                  <h3 class="team-list__name">Ігор Гриньов</h3>
                  <p class="team-list__subtitle" lang="en">Team Lead</p>
                </div>
              </li>
              <li class="team-list__card">
               
                  <img
                    class="team-list__image"
                    src="./images/images/player-2.jpg"
                    alt=" Ирина Ульянова "
                  />
            
                <div class="team-list__label">
                  <h3 class="team-list__name">Ірина Ульянова</h3>
                  <p class="team-list__subtitle" lang="en">
                    Scrum Master
                  </p>
                </div>
              </li>
              <li class="team-list__card">
               
                  <img
                    class="team-list__image"
                    src="./images/images/player-6.jpg"
                    alt="Роман Крук"
                />
                <div class="team-list__label">
                  <h3 class="team-list__name">Poман Крук</h3>
                  <p class="team-list__subtitle" lang="en">Frontend Developer</p>
                </div>
              </li>
              <li class="team-list__card">
               
                  <img
                    class="team-list__image"
                    src="./images/images/player-5.jpg"
                    alt="Марина "
                />
                <div class="team-list__label">
                  <h3 class="team-list__name">Володимир Сашко </h3>
                  <p class="team-list__subtitle" lang="en">Frontend Developer</p>
                </div>
              </li>
                   <li class="team-list__card">
               
                  <img
                    class="team-list__image"
                    src="./images/images/player-4.jpg"
                    alt="Мужчина с ухмылкой"
                />
                <div class="team-list__label">
                  <h3 class="team-list__name">Людмила Прищепа</h3>
                  <p class="team-list__subtitle" lang="en">Frontend Developer</p>
                </div>
              </li>
                   <li class="team-list__card">
               
                  <img
                    class="team-list__image"
                    src="./images/images/player-3.jpg"
                    alt="Марина "
                />
                <div class="team-list__label">
                  <h3 class="team-list__name">Maрина Данильчук</h3>
                  <p class="team-list__subtitle" lang="en">Frontend Developer</p>
                </div>
              </li>
            </ul>
          </div>
        </section> 
           
    
        </div>
    </div>
</div>

   

        <!-- <script src="./js/slider.js" type="module"></script> -->
       </body>
</html>