.content-section {
  background-color: teal;
  @media screen and (min-width: 320px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 320px) {
    padding-block: 60px;
  }
}
