#loader {
  margin-block: 10px;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
  &.is-active {
    opacity: 1;
  }
}

.spinner {
  margin-right: 10px;
  color: #ff6b01;
}

.sr-only {
  font-size: 2rem;
  line-height: 2rem;
  color: #ff6b01;
}
